<section class="form-section">
<div class="text">
    <h3>Fique forte para as batalhas</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo dolores voluptate tempore, nam iusto sed vero impedit quas pariatur sunt, repudiandae culpa animi dolore tempora. Consectetur odit quis ducimus architecto.</p>
</div>
    <form [formGroup]="meuFormulario">
        <label for="email">Name</label>
        <input id="name" formControlName="name"/>
        <label for="email">Email</label>
        <input id="emil" formControlName= "email"/>
        <btn-primary></btn-primary>
    </form>
</section>
